<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>

{% for Users in user%}

<b>FULLNAME :</b>{{ Users.fullname }} <br>
<b>USERNAME :</b>{{ Users.username }} <br>
<b>EMAIL ADDRESS:</b>{{ Users.email }}<br>
<b>PASSWORD :</b>{{ Users.password }}  <br>
<b>AGE :</b>{{ Users.age}}  <br>
<b>YEAR OF BIRTH:</b>{{ Users.yearofbirth }}  <br>
    <hr>
{% endfor %}




</body>
</html>